.show-selected-container {
  max-height: 60vh;
  overflow-y: scroll;
}

.ins {
  color: grey;
  font-size: 14px;
  margin-bottom: 10px;
  font-style: italic;
}
.empty-message {
  color: white;
}

.selected-blocks {
  color: white;
  padding-left: 8px !important;
}

.btn {
  margin-top: 20px;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 4px;
  padding: 8px 0;
  outline: 0;
  cursor: pointer;
}

.add-block-btn {
  color: white;
  border: 2px solid white;
}

.clear-block-btn {
  color: #ff6e5b;
  border: 2px solid #ff6e5b;
}
