.search-field{
    height: 24px;
    /* margin: 0 11px 15px 10px; */
    padding: 1px 5px;
    border-radius: 3px;
    border: solid 0.5px #4a4a4a;
    background-color: #2f3030;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.search-field .svg-icon{
    font-size: 18px !important;
    color: #fff;
    opacity: 0.9;
}

.search-field input{
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 14px;
    color: white;
    width: 100%;
}

.search-res{
    margin-top: 10px;
    max-height: 200px;
    overflow-y: scroll;
}

.search-blocks{
    color: white;
    padding-left: 8px !important;
}

.divider{
    background-color: #ffffff;
    opacity: 0.1;
    margin: 16px 0;
    height: 0.5px;
}

.folders-container{
    overflow-y: scroll;
    max-height: 60vh;
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb{
    background-color: #2f2f2f;
    border-radius: 10px;
}


.tree{
    color: white;
}

.tree p{
    opacity: 0.8;
}

.doc-container{
    display: flex;
    align-items: center;
    padding: 6px 0;
    cursor: pointer;
}

.doc-container.draggable{
    cursor: grabbing;
}

.tree-toggler.active{
    transform: rotate(90deg);
}

.tree-toggler{
    display: flex;
    align-items: center;
}

.doc-label{
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 2px;
    user-select: none;
}

.doc-container:hover{
    background-color: #494949;
}

.doc-label.task{
    margin-left: 18px;
}

.doc-label.no-child{
    margin-left: 18px;
}

.tree-content{
    margin-left: 5px;
}