
.react-flow__edge-path{
    stroke: #4DAD8E !important;
    stroke-width: 1.5;
}

.react-flow__edge-path.it-edge{
    stroke: #7A4DFA !important;
    stroke-width: 0.8;
}

.react-flow__edge-path:hover{
    stroke: #ad584d !important;
    stroke-width: 6;
    cursor: pointer;
}

.react-flow__edge-path{
    border-radius: 50%;
}

.react-flow__edge-path.running{
    stroke: #00e1ff;
    stroke-width: 2;
}

.arrow{
    stroke: #4DAD8E;
    fill: transparent;
    stroke-width: 1.5;
    border-radius: 4px;
}

.arrow.it-arrow{
    stroke: #7A4DFA !important;
}