/* For table modal */

.res-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000d8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 999999;
}


.res-modal .table {
  position: relative;
  background: #191919;
  border: 0.5px solid #252525;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 9px #000000;
  border-radius: 4px;
  color: #151515 !important;
  padding: 16px;
  width: 1500px;
  max-height: 800px;
  /* overflow-x: scroll;
  overflow-y: hidden; */
}

.res-modal .search-data{
  display: flex;
  align-items: center;
  column-gap: 10px;
  background: #2F3030;
  border: 0.5px solid #4A4A4A;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0 8px;
  width: 294px;
  height: 30px;
}

.no-data{
  color: #ffffff8c;
}

.res-modal .search-data input{
  width: 100%;
  background-color: transparent;
  outline: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.res-modal .table-container{
  width: 100%;
  background: #252525;
  box-shadow: 0px 0px 5px 9px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-top: 10px;
  overflow-x: scroll;
}

.res-modal .options{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.res-modal .page-change{
  color: white;
  display: flex;
  align-items: center;
  column-gap: 20px;
  cursor: pointer;
}

.res-modal table{
  width: 100%;
  /* margin-top: 20px; */
  border-collapse: collapse;
}

.res-modal table,
.res-modal tr,
.res-modal td,
.res-modal th {
  border-bottom: 0.5px solid #FFFFFF33;
  border-left: 0.5px solid #FFFFFF33;
  min-width: 80px;
  text-align: center;
  color: #ffffff99;
  padding: 4px;
}

.res-modal th{
  padding: 10px;
  color: #FFFFFF !important;
  opacity: 1;
  position: relative;
}

.res-modal th .head{
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}

.sort-icons{
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 4px;
  cursor: pointer;
  height: 100%;
}

.sort-icons img{
  opacity: 0.5;
}

.res-modal table tr td:first-child{
  border-left: 0.5px solid transparent;
}

.res-modal table tr th:first-child{
  border-left: 0.5px solid transparent;
}

.res-modal table tr:last-child td{
  border-bottom: 0.5px solid transparent;
}


.close-btn {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 26px;
  color: #ffffff !important;
  background-color: transparent;
}


/* Chart Modal CSS */

.res-modal .chart-container{
  
  display: flex;
}

.config-view{
  flex-basis: 30%;
  background: #1F1F1F;
  border: 0.5px solid #252525;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
}

.config-view .heading{
  padding: 16px 20px 0 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  mix-blend-mode: normal;
}


.input-fields{
  padding: 0 20px 16px 20px;
}

.input-fields p{
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.input-fields .fields{
  display: flex;
  align-items: center;
  column-gap: 4px;
  justify-content: space-between;
  margin-top: 6px;
}

.input-fields .fields input{
  width: 100px;
  height: 25px;
  outline: 0;
  background: #1D1D1D;
  border: 0.5px solid #4A4A4A;
  box-sizing: border-box;
  padding: 0 8px;
  color: white;
  text-align: center;
}

.input-fields .fields.full-width{
  width: 100%;
}

.input-fields .fields.full-width input{
  width: 100%;
  text-align: start;
}



.chart-view{
  flex-basis: 70%;
  background: #191919;
  border: 0.5px solid #252525;
  box-sizing: border-box;
  /* box-shadow: 0px 0px 5px 9px #000000; */
  border-radius: 0 4px 4px 0;
  padding: 16px 20px;
  min-width: 942px;
}

.chart-view .highcharts-background{
  fill: transparent;
}

.chart-view .options{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 21px;
}

.chart-view .select{
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  flex-basis: 30%;
}

.chart-view .options .select select{
  background: #2F3030;
  border: 0.5px solid #4A4A4A;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  width: 100%;
  color: #FFFFFF;
  outline: 0;
  mix-blend-mode: normal;
  opacity: 0.8;
  padding: 2px;
}


