.reactflow-wrapper {
  height: 100%;
  width: 100%;
}

.react-flow__nodes {
  width: 100% !important;
  height: 100% !important;
}

.zoom-controls {
  background-color: hsl(0, 0%, 14%) !important;
  display: flex;
  flex-direction: column;
  column-gap: 4px;
  margin-left: 30px;
  right: 22px !important;
  bottom: 20px;
  left: auto !important;
  width: fit-content;
  height: fit-content;
}

.zoom-controls .react-flow__controls-button{
  background-color: #242424;
  border: 0.5px solid #3A3A3A;
}

.zoom-controls .react-flow__controls-button:first-child{
  border-radius: 2px 2px 0 0;
}

.zoom-controls .react-flow__controls-button:nth-child(3){
  border-radius: 0 0 2px 2px;
}

.zoom-controls .react-flow__controls-button:hover{
  background-color: #151515;
}

.zoom-controls svg{
  fill: white;
}

.zoom-controls .react-flow__controls-interactive {
  display: none;
}

.react-flow__minimap{
  right: 0 !important;
}

.minimap-container{
  top: 0;
  right: 0;
  margin-right: 22px;
  margin-top: 22px;
  box-shadow: 0 0 10px #222222;
  background-color: #191919 !important;
  border: black solid 1px;
}

.minimap-container path{
  fill: #191919;
  
}

#group-box{
  position: absolute;
  border: 2px solid #c59700;
  background-color: #c597004f;
  color: #151515;
  height: 200px;
}

.react-flow__nodesselection-rect{
  border: 2px solid #c59700 !important;
  background-color: #c597004f !important;
}

.react-flow__selectionpane div{
  border: 2px solid #c59700;
  background-color: #c597004f;
}