.custom-node {
  background-color: white;
  border: 3px solid #00ffff;
  padding: 10px;
  color: black;
  border-radius: 4px;
  min-width: 140px;
  text-align: center;
  position: relative;
  font-size: 13px;
  cursor: grabbing;
}

.custom-node .cross-icon {
  position: absolute;
  top: -14px;
  left: -14px;
  color: #0000ff;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(0);
  transition: 0.5s;
}

.sel-nd{
  box-shadow: 0 0 6px #ffffffd5, 0 0 12px #ffffffd5;
}

.custom-node .select-icon {
  position: absolute;
  top: -14px;
  right: -14px;
  color: #ff9100;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(0);
  transition: 0.5s;
}

.custom-node:hover .cross-icon,
.custom-node:hover .select-icon {
  transform: scale(1);
}

.custom-node .tg-handle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 6px;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -6px;
  margin-top: 10px;
}

.tg-handle-container.exceed{
  height: fit-content;
  top: 100%;
  margin-top: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  width: 100%;
  column-gap: 6px;
}

.port-name {
  position: absolute;
  top: -56%;
  right: 100%;
  background-color: azure;
  color: black;
  display: none;
  font-size: 10px;
  clip-path: polygon(
    0% 0%,
    80% 0%,
    80% 30%,
    100% 45%,
    80% 60%,
    80% 100%,
    0% 100%
  );
  border-radius: 2px 0 0 2px;
}

.port-name p {
  margin-right: 20px;
  padding: 2px 6px;
  text-align: center;
}

.custom-node .react-flow__handle{
  border-radius: 0%;
  padding: 1px;
  border: 0 !important;
}

.custom-node .react-flow__handle.source {
  background-color: #7A4DFA !important;
  width: 10px;
  height: 10px;
}

.custom-node .react-flow__handle.target {
  background-color: #4DAD8E !important;
  width: 10px;
  height: 10px;
}

.custom-node .react-flow__handle.target.custom-target {
  background-color: #4DAD8E !important;
  left: -6px;
  width: 10px;
  height: 10px;
}

.custom-node .react-flow__handle.target.offset-table-port {
  background-color: #7A4DFA !important;
  width: 10px;
  height: 10px;
}

.custom-node .react-flow__handle.custom-target {
  background-color: #4DAD8E !important;
  position: static !important;
  margin: 0 !important;
  width: 10px;
  height: 10px;
}

.custom-node .react-flow__handle.target:hover .port-name {
  display: block;
}

.custom-node .react-flow__handle-right {
  right: -7px;
}

/* CSS for text multiport node */

.mul-node{
  background-color: #454545;
  color: white;
  border: 0.5px solid #000;
  border-radius: 0;
  padding: 18px;
}

#label{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* CSS for all output nodes */

.ot-nd{
  background-color: #7A4DFA;
  border: 0;
  color: white;
}

.waiting{
  cursor: not-allowed;
  opacity: 0.5;
}

.waiting img{
  pointer-events: none;
}

.waiting p{
  margin-top: 6px;
}

/* CSS for text input node */

.text-node {
  border-color: #7A4DFA;
  background-color: #7A4DFA1A;
}

.text-node input {
  text-align: center;
  border: 0;
  outline: 0;
  font-size: 16px;
  background-color: transparent;
  color: white;
}

/* Table Input */

.table-input-node{
  border-color: #7A4DFA;
  background-color: #7A4DFA1A;
  padding: 0;
}

.table-input-node .table-input table{
  /* border-spacing: 0px !important; */
  border-collapse: collapse;
  table-layout: fixed ;
}


.table-input tr td,
.table-input tr th{
  padding: 8px 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  mix-blend-mode: normal;
  width: 80px;
  border-bottom: 1px solid #7A4DFA;
}

.table-input tr td:first-child{
  border-left: 0;
  border-top: 0;
}

.table-input tr td,
.table-input tr th{
  border: 1px solid #7A4DFA;
  border-top: 0;
}

.table-input tr td:last-child{
  border-right: 0;
  border-top: 0;
  position: relative;
}

.table-input tr td input{
  text-align: center;
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 80px;
  color: #fff;
}

.table-input .add-btn{
  background-color: transparent;
  border: 0;
  outline: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #7A4DFA;
  margin: 8px 0;
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.table-input .react-datepicker__header {
  text-align: center;
  background-color: #292929;
  color: #fff !important;
  border-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 8px;
  position: relative;

}

.table-input .react-datepicker__today-button {
  background: #000000;
  border-top: 0px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}

.table-input .react-datepicker__day-name, 
.table-input .react-datepicker__day, 
.table-input .react-datepicker__time-name {
  color: #fff;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: .166rem;
}

.table-input .react-datepicker__day:hover{
  background-color: #fff;
  color: #000;
}

.table-input .react-datepicker__current-month, 
.table-input .react-datepicker-time__header, 
.table-input .react-datepicker-year-header {
  margin-top: 0;
  color: #fff;
  font-weight: bold;
  font-size: .944rem;
}

.table-input .react-datepicker-popper{
  background-color: #000;
  border-color: #000;
}

.table-input .react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #292929;
  color: #ffffff !important;
  border: 0px;
  border-radius: 0;
  display: inline-block;
  position: relative;
}

.table-input .last-row .svg-icon{

  color: #7A4DFA;
  cursor: pointer;
  font-size: 20px !important;
}


.table-input .controls{
  margin-right: 0 !important;
  position: absolute;
  right: 0;
  top: 6px;
}

#control-btn{
  position: absolute;
  right: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
}

.table-input .more-menu{
  position: absolute;
  top: 4px;
  left: 16px;
  background-color: #2E2E2E;
  color: white;
  z-index: 999;
  padding: 6px;
  font-size: 13px;
  line-height: 15px;
  width: 120px;
  border-radius: 4px;
  border: 0.5px solid #000000;
}

.more-menu ul li{
  padding: 2px;
  mix-blend-mode: normal;
  opacity: 0.8;
  cursor: pointer;
  text-align: left;
}

.control-menu ul li:hover{
  background-color: #3d3d3d;
}


/* CSS for number output node */


/* CSS for table output node */

.table-node.output{
  width: 400px !important;
  padding: 0;
  background: #0D0D0D;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 9px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.expand-svg{
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.show-table{
  width: 100%;
  background-color: white;
  color: #7A4DFA;
  font-size: 14px;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 10px;
}


.show-table.pre{
  cursor: not-allowed;
}

.res-message{
  margin-bottom: 21px;
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.7;
}

.floating-window{
  background-color: white;
  background: #191919;
  box-shadow: 0px 0px 5px 9px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  width: 100%;
}

.prev-table{
  width: 100%;
  color: #000000;
  border-collapse: collapse;
}

.prev-table tr,
.prev-table td,
.prev-table th {
  min-width: 80px;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  padding: 4px;
  mix-blend-mode: normal;
  opacity: 0.6;
  border-bottom: 0.5px solid #FFFFFF33;
}

.prev-table tr td:last-child{
  border-left: 0.5px solid #FFFFFF33;
}

.prev-table tr th:last-child{
  border-left: 0.5px solid #FFFFFF33;
}

.prev-table tr th{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  opacity: 1;
  color: #ffffff;
  mix-blend-mode: normal;
}

.seeMore{
  color: #7A4DFA;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}


/* CSS for user notes node */

.usernotes {
  border-radius: 0;
  border: 0;
  background-color: #292929;
}

.usernotes .inputs {
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

.usernotes .inputs input,
.usernotes .inputs textarea {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 16px;
  background-color: transparent;
  color: white !important;
}

.usernotes .inputs .title {
  font-size: 22px;
  margin-bottom: 10px;
  color: #000000;
}

/* CSS for drop-down node */

.dropdown {
  border-color: #7A4DFA;
  background-color: #7A4DFA1A;
}

.dropdown .select {
  width: 100%;
}

.dropdown select {
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  color: white;
}

.dropdown option{
  color: black;
}


/* CSS For File Upload Node */

.file-node{
  border-color: #7A4DFA;
  background-color: #7A4DFA1A;
  width: 200px;
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}

.input .upload-btn,
.input .delete-btn{
  background-color: #7A4DFA;
  color: #fff;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
  height: 36px;
}

.file-area{
  /* display: flex;
  align-items: center;
  column-gap: 10px; */
  margin-bottom: 14px;
}

.file-area.center{
  justify-content: center;
}

.file-area .icon{
  background-color: #4DAD8E;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-area .pub-icon{
  cursor: pointer;
  color: #fff !important;
  font-size: 1px !important;
}

.input .helper-text{
  color: #fff;
  font-size: 16px;
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

.file-preview{
  width: 200px;
  margin-bottom: 4px;
}

.input .pg-bar{
  color: #fff;
}

/* CSS for chart node */

.chart-node.output{
  background: #0D0D0D;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 9px #0000000d;
  border-radius: 4px;
  padding: 36px 28px;
  min-width: 496.0px;
}

.chart-node .floating-window{
  background-color: transparent;
}

.chart-container {
  width: fit-content;
}

.highcharts-background{
  fill: #0D0D0D;
}

.chart-node .options{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 21px;
}

.chart-node .expand-svg{
  position: unset;
  margin: 0;
}

.chart-node .select{
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  flex-basis: 30%;
}

.chart-node .options .select select{
  background: #2F3030;
  border: 0.5px solid #4A4A4A;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  width: 100%;
  color: #FFFFFF;
  outline: 0;
  mix-blend-mode: normal;
  opacity: 0.8;
  padding: 2px;
}

.highcharts-yaxis-grid .highcharts-grid-line{
  opacity: 0.5
}

.highcharts-yaxis-grid .highcharts-grid-line:first-child{
  display: none;
}

.highcharts-title,
.highcharts-credits,
.highcharts-axis-title,
.highcharts-legend-item{
  display: none;
}

/* CSS for group node */

.group{
  border-color: #c59700d3;
  background-color: #c5970018;
  height: 100%;
  position: relative;
}



#resize-btn{
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
  background-color: transparent;
  outline: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-bottom: 16px solid #c59700;
}

#resize-btn .svg-icon{
  color: black !important;
}

.rs-btn{
  border: 0;
  outline: 0;
  background-color: #c59700;
  color: #000000;
  padding: 4px;
  font-size: 10px;
  cursor: pointer;
}

.grpNd{
  z-index: 0 !important;
}

.group .controls{
  display: flex;
  align-items: center;
}

.group .controls input{
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 16px;
  background-color: transparent;
  color: #c59700 !important;
}

.group .inputs .title {
  font-size: 22px;
  margin-bottom: 10px;
  color: #000000;
}

.group .controls .svg-icon{
  color: #131313 !important;
  background-color: #c59700;
  cursor: pointer;
  border-radius: 50%;
}


.group.collapse{
  background-color: #c59700;
  min-height: 40px !important;
  height: 40px !important;
}

.controls.collapse{
  height: 100%;
}

.controls.collapse input{
  color: #000000 !important;
  font-size: 18px;
}

.controls.collapse .svg-icon{
  font-size: 24px !important;
  background-color: #6d5300;
}

#menu-btn-container{
  position: relative;
}

.controls .menu{
  background-color: transparent !important;
  color: #c59700 !important;
  cursor: pointer;
}

#menu-btn{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.menu-list{
  position: absolute;
  background-color: #2a2a2a;
  color: white;
  padding: 4px;
  font-size: 12px;
  top: -95px;
  right: -40px;
  text-align: start;
  border: 1px solid #222222;
  display: none;
  border-radius: 4px;
}

.menu-list.show{
  display: block;
}

.menu-list li{
  padding: 6px 2px;
  cursor: pointer;
}

.menu-list li:hover{
  background-color: rgb(107, 107, 107);
}

.controls.collapse .rs-btn{
  border: 1px solid #6d5300;
  color: #3b2e00;
  border-radius: 2px;
  font-size: 14px;
}

.controls.collapse .menu{
  color: #000000 !important;
}



/* Image Node */


.image-node img{
  width: 200px;
  border-radius: 4px;
}

.image-node .svg-icon{
  opacity: 1;
  font-size: 40px !important;
}

.image-node .svg-icon.waiting{
  opacity: 0.6;
  font-size: 40px !important;
}
