.container {
  background-color: #151515;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* All flows modal */

.allFlows-modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #00000098;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.modal-box{
  border-radius: 6px;
  padding: 18px;
  background-color: #F9F9F9;
  width: 900px;
  height: 560px;
  position: relative;
}

.close-icon{
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
}

.search-box input{
  width: 100%;
  border: 0.2px solid #19191980;
  outline: 0;
  padding: 6px 10px;
  font-size: 18px;
}

.allFlows-modal .tags-container span{
  border-radius: 20px;
  border: 1px solid grey;
  padding: 4px 6px;
  font-size: 13px;
  margin-right: 6px;
  cursor: pointer;
}

.filters{
  flex-basis: 11%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 18px;
}

.select-order{
  border: 0;
  outline: 0;
  color: grey;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.filter-icons{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey !important;
  background-color: white;
  padding: 4px;
}

.filter-icons.view{
  color: #00C48C !important;
  border-radius: 2px;
  border: 1px solid #00C48C;
}

.no-flows{
  width: 100%;
  margin-top: 20px;
  color: grey;
  text-align: center;
}

.allFlows-modal .flows{
  min-width: 100%;
  height: 70%;
  max-height: 70%;
  overflow-y: scroll;
  margin-top: 10px;
}

.allFlows-modal .cards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  justify-content: center;
  row-gap: 16px;
  column-gap: 16px;
  margin-top: 20px;
  overflow: visible;
}

.allFlows-modal .card{
  
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
}

.allFlows-modal .card .preview{
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-radius: 4px 4px 0 0;
}

.card .about{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible !important;
}

.ip-cont{
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.ip-cont .title{
  font-weight: bold;
  font-size: 20px;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.ip-cont .tick-icon{
  color: #00C48C !important;
}

.card .details .title.edit{
  background-color: #dfdfdf !important;
  padding: 2px;
}

.card .details p{
  color: grey;
  margin-top: 6px;
  font-size: 14px;
}

.allFlows-modal .card .about .svg-icon{
  display: none; 
}


.allFlows-modal .lists{
  width: 100%;
  margin-top: 20px;
  background-color: #ffffff;
  border: 0.2px solid #A2A4B2;
  border-radius: 6px;
}


.lists tr:hover{
  background-color: #00c48d33;
  cursor: pointer;
}

.lists tr{
  background-color: #ffffff;
  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.lists tr:nth-child(1){
  background-color: #F5F5F5;
}

.lists td{
  padding: 10px;
  text-align: start;
}
.lists th{
  padding: 10px;
  text-align: start;
}

.title-col .ip-cont .title{
  font-size: 16px !important;
  font-weight: normal;
}

.last-col{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.last-col .control-menu{
  right: 0;
  left: -136px;
}

.allFlows-modal .last-col .svg-icon{
  display: none;
}

.delete-icon{
  font-size: 29px !important;
  margin-left: 24px;
  cursor: pointer;
}

.allFlows-modal .add-tag{
  display: none;
}

.tag-grid{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 6px;
  row-gap: 6px;
  margin: 16px 0;
}

.tag-grid p{
  width: fit-content;
  border: 1px solid #00C48C;
  color: #00C48C;
  border-radius: 30px;
  padding: 2px 6px;
  font-size: 14px;
  text-align: center;
}

.tag-grid.limit{
  margin: 0px 0;
}

/* Top Navbar CSS */

.top-navbar {
  background-color: #151515;
  color: white;
  height: 40px;
  
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard .top-navbar{
  max-height: 40px;
}

.top-navbar .tabs{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.add-tabs-icon{
  cursor: pointer;
  color: #ffffff9a;
}

.tabs .tab{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1a;
  width: 160px;
  padding: 0 10px;
  cursor: pointer;
}

.tabs .tab.active{
  background-color: #242424;
}

.docName {
  color: white;
  opacity: 0.5;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 14px;
  min-width: 40px;
  flex-basis: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.docName p{
  width: 80%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabs .svg-icon{
  cursor: pointer;
  height: 100%;
  z-index: 99999;
}

.docName.active{
  background-color: #1f1f1f;
}

.nav-icons,
.controls {
  display: flex;
  column-gap: 10px;
  margin-right: 10px !important;
}

.reset-btn {
  width: 32px;
  height: 32px;
  background-color: #ff5353c0;
  color: white;
  font-size: 14px;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 2px;
}

.success {
  width: 0;
  max-height: 22px;
  overflow: hidden;
  color: #3b3b3b;
  background-color: #47ffa9;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: fit-content;
  border-radius: 2px;
  transition: 0.5s;
  white-space: nowrap;
}

.success.show {
  width: 106.73px;
  padding: 4px 6px;
}

.icons {
  background-color: #383838;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.tooltip{
  position: absolute;
  background-color: #242424;
  border: 0.5px solid #454444;
  font-size: 12px;
  color: white;
  white-space: nowrap;
  padding: 4px 6px;
  z-index: 99999;
  left: -2px;
  top: 38px;
  border-radius: 3px;
  display: none;
}

.info-box {
  position: absolute;
  background-color: #242424;
  border: 0.5px solid #454444;
  border-radius: 3px;
  font-size: 12px;
  color: white;
  white-space: nowrap;
  padding: 4px 6px;
  z-index: 99999;
  left: 0;
  top: 38px;
  display: none;
}

.icons:active {
  background-color: rgb(97, 97, 97);
}

.icons.save:hover .info-box.save {
  display: block;
}

.icons.start:hover .tooltip.start{
  display: block;
}

.icons.stop:hover .tooltip.stop{
  display: block;
}

.svg-icon {
  font-size: 18px !important;
  color: #ffffff;
  opacity: 0.6;
}

.running {
  background-color: #383838;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 0 6px;
  font-size: 14px;
}

.running p {
  color: #4dad8e;
}

.split-containers {
  height: 100%;
  display: flex;
}

/* Side Navbar CSS */

.side-navbar {
  padding: 12px;
  background-color: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
}

.home-icon{
  color: #ffffff91;
  cursor: pointer;
}

.add-icon{
  width: 34px;
  height: 34px;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white !important;
}
.graph-icon {
  cursor: pointer;
}

.add-icon .svg-icon {
  color: white !important;
  font-size: 22px !important;
}

.others{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.no-flows{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.workspace {
  background-color: #151515;
  display: flex;
  width: 100%;
  height: calc(100vh - 40px);
}

/* Folder Structure Container CSS */

.tree-container {
  background-color: #1f1f1f;
  padding: 8px;
  flex-basis: 15%;
  border: 0.6px solid #00000066;
  position: relative;
  transition: 0.5s;
  width: 100%;
}

.tree-container .collapse-btn {
  width: 17px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #242424;
  outline: 0;
  border: solid 0.5px rgba(255, 255, 255, 0.1);
  border-radius: 0 2px 2px 0;
  top: 12px;
  right: -18px;
  cursor: pointer;
  z-index: 9999;
}

.tree-container .collapse-btn .svg-icon{
  font-size: 14px !important;
}

.tree-container.collapse {
  flex-basis: 0;
  padding: 0;
  width: 0;
}

.sub-container {
  transition: 0.5s;
  max-height: 800px;
}

.sub-container.hide {
  overflow: hidden;
  opacity: 0;
}

/* Flow Chart Field CSS */

.flow-chart-field {
  background-color: #1f1f1f;
  flex-basis: 70%;
  border: 0.6px solid #00000066;
  transition: 0.5s;
  position: relative;
}

.flow-chart-field.broaden {
  flex-basis: 85%;
}

.flow-chart-field.extraBroaden{
  flex-basis: 100%;
}

.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  cursor: not-allowed;
  z-index: 99999999999;
}

.work-field {
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 40px);
  max-height: 100%;
}

/* Reference Field CSS */

.ref-field {
  flex-basis: 15%;
  border: 0.6px solid #00000066;
  padding: 8px;
}

.ref-field {
  background-color: #242424;
  padding: 8px;
  flex-basis: 15%;
  border: 0.6px solid #00000066;
  position: relative;
  transition: 0.5s;
  width: 100%;
}

.ref-field .collapse-btn {
  width: 17px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #242424;
  outline: 0;
  border: solid 0.5px rgba(255, 255, 255, 0.1);
  border-radius: 2px 0 0 2px;
  left: -18px;
  top: 12px;
  cursor: pointer;
  z-index: 9999;
}

.ref-field .collapse-btn .svg-icon{
  font-size: 14px !important;
}

.ref-field.collapse {
  flex-basis: 0;
  padding: 0;
  width: 0;
}