.home{
    max-height: 100vh;
    height: 100vh;
}

.home .top-navbar{
    background-color: #151515;
    flex-basis: 5%;
    min-height: 56px !important;
}
.home .brand{
    margin-left: 16px;
}
.home .brand img{
    width: 80px;
}

.home .auth-details{
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-right: 16px;
}

.home .auth-btn{
    background-color: #00C48C;
    font-weight: 400;
    color: white;
    padding: 7px 16px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
}

.home .split-containers{
    height: calc(100vh - 56px);
}

.welcome-container{
    background-color: white;
    height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-wkp{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.create-wkp p{
    color: grey;
    margin-bottom: 10px;
    font-size: 18px;
}

.create-wkp button{
    background-color: white;
    border: 1px solid #00C48C;
    padding: 10px;
    border-radius: 20px;
    color: #00C48C;
    font-size: 18px;
    cursor: pointer;
}

.workspace-container{
    background-color: #1F1F1F;
    color: white;
    flex-basis: 12%;
    padding: 4px;
    position: relative;
    transition: 0.5s;
}

.workspace-container .collapse-btn{
    width: 17px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #242424;
    outline: 0;
    border: solid 0.5px rgba(255, 255, 255, 0.1);
    border-radius: 0 2px 2px 0;
    top: 10px;
    right: -17px;
    cursor: pointer;
    z-index: 9999;
}

.workspace-container .collapse-btn .svg-icon{
    font-size: 14px !important;
}

.workspace-container.collapse {
    flex-basis: 0;
    padding: 0;
    width: 0;
    transition: 0.5s;
  }

.sub-wkp-container{
    overflow: hidden;
}

.sub-wkp-container ul{
    padding: 22px 0 12px 0;
    overflow-y: scroll;
    max-height: 600px;
}

.no-wkp{
    color: grey;
    font-style: italic;
}

.sub-wkp-container li{
    opacity: 0.5;
    margin-top: 14px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
    white-space: nowrap;
}

.sub-wkp-container li:first-child{
    margin-top: 0;
}

.sub-wkp-container li.active{
    font-weight: 500;
    opacity: 1;
}

.sub-wkp-container .add-btn{
    margin: 0px 10px;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #00C48C;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}


/* Playgrounds CSS */


.playgrounds{
    flex-basis: 88%;
    background-color: hsl(0, 2%, 91%);
    padding: 50px;
    transition: 0.5s;
    padding-bottom: 0 !important;
    max-height: 100%;
    overflow-y: scroll;
}

.playgrounds.expand{
    flex-basis: 100%;
    transition: 0.5s;
}

.playgrounds .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}


.edit-wkp-title{
    display: flex;
    align-items: center;
}

.edit-wkp-title .wkpTitle{
    border: 0;
    outline: 0;
    width: fit-content !important;
    max-width: 200px;
    background-color: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 19px;
    color: #000000;
    margin-right: 10px;
}

.edit-wkp-title .wkpTitle.edit{
    background-color: #dfdfdf;
    padding: 4px;
}


.edit-wkp-title .edit-icon{
    border: 2px solid grey;
    border-radius: 50%;
    color: grey;
    font-size: 16px !important;
    padding: 4px;
    cursor: pointer;
}

.edit-wkp-title .tick-icon{
    border-radius: 50%;
    color: #00C48C;
    font-size: 24px !important;
    padding: 4px;
    cursor: pointer;
}

.playgrounds .header button{
    background-color: #00C48C;
    font-weight: 400;
    color: white;
    padding: 7px 16px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
}

.playgrounds .options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.playgrounds .tags-container span{
    border-radius: 20px;
    border: 1px solid grey;
    padding: 4px 6px;
    font-size: 13px;
    margin-right: 6px;
    cursor: pointer;
}

.options .filters{
    flex-basis: 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.select-order{
    border: 0;
    outline: 0;
    background-color: transparent;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    color: #181818;
    column-gap: 4px;
}

.select-order .down-icon{
    opacity: 0.5;
    font-size: 16px;
}

.filter-icons{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey !important;
    padding: 0 !important;
    border-radius: 5px;
}

.no-flows{
    width: 100%;
    height: fit-content;
    font-size: 14px;
    margin-top: 20px;
    color: grey;
    text-align: center;
}

.flows{
    min-width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
}

/* Flow cards CSS */

.playgrounds .cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    row-gap: 36px;
    column-gap: 36px;
    margin-top: 20px;
    overflow: visible;
}

.playgrounds .card{
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.playgrounds .card .preview{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    border-radius: 4px 4px 0 0;
}

.card .about{
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible !important;
}

.ip-cont{
    display: flex;
    align-items: center;
    column-gap: 6px;
}
.ip-cont .title{
    font-weight: bold;
    font-size: 14px;
    outline: 0;
    border: 0;
    background-color: transparent;
}

.ip-cont .tick-icon{
    color: #00C48C !important;
}

.card .details .title.edit{
    background-color: #dfdfdf !important;
    padding: 2px;
}

.card .details p{
    color: grey;
    margin-top: 6px;
    font-size: 12px;
}

.card .about .svg-icon{
    color: grey !important;
}

.home .controls{
    margin-right: 0 !important;
    position: relative;
}

#control-btn{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.control-menu{
    position: absolute;
    top: 0;
    left: -136px;
    background-color: #1F1F1F;
    color: white;
    z-index: 999;
    padding: 6px;
    font-size: 14px;
    width: 120px;
    border-radius: 4px;
}

.control-menu ul li{
    padding: 4px 2px;
}

.control-menu ul li:hover{
    background-color: #3d3d3d;
}


/* Flow list CSS */


.playgrounds .lists{
    width: 100%;
    margin-top: 20px;
    background-color: #ffffff;
    border: 0.2px solid #A2A4B2;
    border-radius: 6px;
}

.lists tr:hover{
    background-color: #00c48d33;
    cursor: pointer;
}

.lists tr{
    /* border: 0.2px solid #A2A4B2; */
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #E3E4E7;
}

.lists tr:last-child{
    border-bottom: 0;
}

.lists tr:nth-child(1){
    background-color: #F5F5F5;
    /* border-radius: 20px !important; */
}

.lists td{
    padding: 10px;
    text-align: start;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.121875px;
    color: #000000B3;
}
.lists th{
    padding: 10px;
    text-align: start;
    font-size: 12px;
    /* background-color: #F5F5F5; */
}

.title-col .ip-cont .title{
    font-size: 13px !important;
    font-weight: normal;
    color: #000000B3;
}

.title-col .ip-cont .title.edit{
    background-color: #dfdfdf !important;
    padding: 4px;
}

/* Last col of table CSS */

.last-col{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.last-col .control-menu{
    right: 0;
    left: -136px;
}

.last-col .svg-icon{
    color: #A2A4B2 !important;
    font-size: 26px !important;
}

.delete-icon{
    font-size: 29px !important;
    margin-left: 24px;
    cursor: pointer;
}

/* Add tag CSS */

.add-tag{
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #A2A4B2;
    border-radius: 30px;
    padding: 2px 6px;
    font-size: 14px;
    color: #A2A4B2;
}

.add-tag-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #000000b6;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.add-tag-modal .modal-box{
    background-color: white;
    padding: 16px;
    border-radius: 6px;
    width: 500px;
    position: relative;
}

.tag-grid{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 6px;
    row-gap: 6px;
    margin: 16px 0;
}

.tag-grid p{
    width: fit-content;
    border: 1px solid #00C48C;
    color: #00C48C;
    border-radius: 30px;
    padding: 2px 6px;
    font-size: 14px;
    text-align: center;
}

.tag-grid.limit{
    margin: 0px 0;
}


.add-tag-modal .modal-box .close-icon{
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    font-size: 20px !important;
    color: black;
    cursor: pointer;
}

.add-tag-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.add-tag-input input{
    padding: 4px;
    outline: 0;
    border: 1px solid #acacac;
    font-size: 18px;
    flex-basis: 90%;
}

.add-tag-input button{
    flex-basis: 10%;
    background-color: #00C48C;
    color: #ffffff;
    padding: 4px;
    font-size: 16px;
    cursor: pointer;
    border: 0;
    outline: 0;
    height: 100%;
}