*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue';
}

body{
    max-height: 100vh;
}

ul{
    list-style-type: none;
}

html {
    overflow-y: scroll;
    overflow-y: overlay;
    max-height: 100vh;
  }
